.media-body{
    color: seashell;
}

.mt-0{
    color: #00adee;
    text-transform: uppercase;
}

.form-group{
    color: seashell;
}

.row{
    margin-top: 5%;
}

h3{
    color: seashell;
    margin-bottom: 5%;
}

#like{
    max-width: 10%;
    max-height: 10%;
}

.col-sm-3{
    color: seashell;

}

#like :hover{
    color: #a3ccdb;
}

#opinion{
    margin-top: 25%;
}

.cointener-commentDone{
    max-width: 80%;
    margin-left: 1.9%;
}